{% extends 'base.html' %}
{% load static %}

{% block content %}
<div style="direction: rtl;" class="wrapper">
    <!-- Content Wrapper. Contains page content -->
    <div   class="content-wrapper p-5">
      <!-- Content Header (Page header) -->

              <div class="row mb-2">
                <div class="col-sm-6">
                  <h1>كل المنتجات</h1>
                </div>
 
              </div>
          </section>
      
          <!-- Main content -->
          <section class="content">                  
            <!-- Default box -->
            <div class="card card-solid">
              <div class="card-body pb-0">
                <div class="row d-flex align-items-stretch ">
                  <!-- بداية الكتاب -->
                  {% for x in products %}

                  <div   class="col-12 col-sm-6 col-md-4  producthide x{{x.category.id}} x{{x.status}} ">
                    <div  id="" class="card bg-light">
                      <div  class="card-header text-muted border-bottom-0">
                        {{x.category}}
                      </div>
                      <div class="card-body pt-0">
                        <div class="row">
                          <div class="col-7">
                            <h2 class="lead"><b>{{x.titel}}</b></h2>
                            <ul class="  fa-ul text-muted">
                              <li class="small"><span class="fa-li"></span>الحالة: {{x.status}}</li>
                              {% if x.price %}
                              <li class="small"  ><span class="fa-li"></span>السعر: {{x.price}}</li>
                              {% elif x.discount %}
                              <li class="small"><span class="fa-li"></span>لمدة {{x.discount_for}} ايام: {{x.discount}}</li>
                              {% endif %}
                            </ul>
                          </div>
                          <div  class="col-5 text-center">
                              <img style="height: 120px; width: 120px;"  src="{{x.photo_product.url}}" alt="" class="img-circle img-fluid">
                            </div>
                        </div>
                      </div>
                      <div class="card-footer">
                        <div class="text-right">
                          <a href="{% url 'delete' x.id %}" class="btn btn-sm bg-danger">
                            <i class="fas fa-trash">حذف</i>
                          </a>
                          <a href="{% url 'update' x.id %}" class="btn btn-sm btn-primary">
                            <i class="fas fa-book"></i> تعديل
                          </a>
                          
                        </div>
                      </div>
                    </div>
                    
                    
                  </div>
                  {% endfor %}
       
              <!-- /.card-body -->

              <!-- /.card-footer -->
            </div>
            <!-- /.card -->
      
          </section>
          <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
      
    </div>
    <!-- /.content-wrapper -->
  </div>




{% endblock content %}